html{
	background-color:#708090; /*royalblue, slateblue, slategrey */
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

.big-parent{
	display: flex;
	/* border: 10px solid orange;	 */
	height: 100vh;
	flex-wrap: wrap;
}


#jumperInput{
	position: fixed;
	bottom: 0;
	text-align: left;
	font-size: 35px;
}

#jumperButton{
	position: fixed;
	bottom: 2%;
	right: 5%;
}

#showAnswerButton{
	position: fixed;
	bottom: 0;
	right: 0;
}

#helpButton{
	position: fixed;
	top: 0;
	right: 0;
}

#studyButton{
	position: fixed;
	top: 0;
	left: 0;
}

.theFourSections {
	width: 100vw;
	height: 25vh;
	/* border: 5px solid red; */
	display: flex; /* this affects the elements inside ths class */
	flex-wrap: wrap; /* this affects the elements inside this class */
	align-items: center; /* this affects the elements inside this class */
	justify-content: center; /* this affects the elements inside this class */
}

#heading{
	font-weight: bold;
}

#firstSection {
	display: block; /* using block here instead of flex as otherwise multiline headings get misaligned to the left */
	height: 15vh;
	text-align: center; 
	/* border: 5px solid yellow; */
}
#secondSection {
	display: flex; /* this affects the elements inside this class */
	flex-direction: row-reverse;
	align-items: center; /* this affects the elements inside this class */
	justify-content: center; /* this affects the elements inside this class */
	flex-wrap: wrap;
	height: 15vh;
	/* border: 5px solid yellow; */
}

#thirdSection {
	width: 100vw;
	height: 60vh;
	display: flex; 
	flex-wrap: wrap; /* this affects the elements inside this class */
	align-items: center; /* this affects the elements inside this class vertical*/1
	justify-content: center; /* this affects the elements inside this class horziontal*/
	/* border: 5px solid green; */
}

#fourthSection {
	width: 100vw;
	height: 10vh;
	/* border: 5px solid red; */
	display: flex; /* this affects the elements inside this class */
	flex-wrap: wrap; /* this affects the elements inside this class */
	align-items: center; /* this affects the elements inside this class */
	justify-content: center; /* this affects the elements inside this class */
}


.AvestaLetters{
	font-family: Jamshed;
	font-size: min(14vw,70px); /*Exp1a - The pixels here &... min(14vw,125px)*/
	border:  5px solid min(2vw,7px); 
	margin: 0;
}

.thirdSectionElements{
	width: 15%;
	max-width: 100px; /*Exp1b = ... the pixels here work in conjugation to fit the letter in the element.*/
	min-width: 30px;
	height: 15%;
	border: 5px solid darkgrey;
	border-radius: 10px;
	display: flex; /* this affects the elements inside this class */
	align-items: center; /* this affects the elements inside this class */	
	justify-content: center;
	margin: 0px 5px 0px 5px;
}

#checkButton{
	width: 50vw;
	margin-bottom: 5px;
	margin-top: -50px; /* because that Google search comes up sometimes, moving up the check button */
}

.fade-in{
    animation: fade-in 1s;
    opacity: 1;
}

@keyframes fade-in{
	0% {opacity: 0;}
	100% {opacity: 1;} 
}

@font-face {
font-family: "Jamshed";
src: url("../res/Jamshed.ttf");
}

.noselect {
	-webkit-touch-callout: none; /* iOS Safari */
	  -webkit-user-select: none; /* Safari */
	   -khtml-user-select: none; /* Konqueror HTML */
		 -moz-user-select: none; /* Old versions of Firefox */
		  -ms-user-select: none; /* Internet Explorer/Edge */
			  user-select: none; /* Non-prefixed version, currently
									supported by Chrome, Edge, Opera and Firefox */
	pointer-events: none;
  }

  /* The Modal (background) */
.modal {
	display: none; /* Hidden by default */
	position: fixed; /* Stay in place */
	z-index: 1; /* Sit on top */
	padding-top: 50px; /* Location of the box */
	left: 0;
	top: 0;
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	overflow: auto; /* Enable scroll if needed */
	background-color: rgb(0,0,0); /* Fallback color */
	background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content */
  .modal-content {
	position: relative;
	background-color:#708090;
	margin: auto;
	padding: 0;
	border: 1px solid #888;
	width: 80%;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
	-webkit-animation-name: animatetop;
	-webkit-animation-duration: 0.4s;
	animation-name: animatetop;
	animation-duration: 0.4s
  }
  
  /* Add Animation */
  @-webkit-keyframes animatetop {
	from {top:-300px; opacity:0} 
	to {top:0; opacity:1}
  }
  
  @keyframes animatetop {
	from {top:-300px; opacity:0}
	to {top:0; opacity:1}
  }
  
  /* The Close Button */
  .close {
	color: black;
	float: right;
	font-size: 50px;
	font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
	color: #000;
	text-decoration: none;
	cursor: pointer;
  }
  
  .modal-header {
	font-family: 'Calibri';
	padding: 2px 16px;
	/* background-color: #5cb85c; */
	color: black;
	text-align: center;
  }
  
  .modal-body {
	  font-family: 'Calibri';
	  padding: 2px;
	  color: black;
	  margin: 0 0;
	  font-weight: bold;
	}
  
  .modal-footer {
	padding: 2px 16px;
	background-color: #5cb85c;
	color: white;
  }